<nav *ngIf="role==='hr'" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/hr">HR</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/hr/profile" routerLinkActive="active">Employee Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/hr/visa-management" routerLinkActive="active">Visa Status Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/hr/generate-token" routerLinkActive="active">Generate Token</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/hr/hire" routerLinkActive="active">Hire</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="http://localhost:9999/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<nav *ngIf="role==='employee'" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">EMPLOYEE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/employee/visa-status-management" routerLinkActive="active">Visa Status Management</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="http://localhost:9999/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
    
<div class="container">
    <router-outlet></router-outlet>
</div>
  