<div class="card">
    <div class="card-header">
        Profile Contact Info Section
    </div>
    <div class="card-body">
        <h5 class="card-title">Reference Contact</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Reference: {{referenceTitle}}</li>
            <li class="list-group-item">Relationship: {{referenceRelationship}}</li>
        </ul>
        <h5 class="card-title">Emergency Contact</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: {{emergencyTitle}}</li>
            <li class="list-group-item">Relationship: {{emergencyRelationship}}</li>
        </ul>
    </div>
    <div class="card-footer">
        <button type="button" class="card-link btn btn-outline-success">Edit</button>
    </div>
</div>