<div class="container my-3">
    <table class="table table-white">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Created Date</th>
          <th scope="col">Modification Date</th>
          <th scope="col">Status</th>
          <th scope="col">Comments</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationWorkflow of applicationWorkflows$ | async; let pos=index;" [ngClass]="applicationWorkflow.status==='pending' ? []:['mute-text']">
          <!-- <th scope="row">{{pos+1}}</th> -->
          <th scope="row">{{applicationWorkflow.id}}</th>
          <td>{{applicationWorkflow.createdDate}}</td>
          <td>{{applicationWorkflow.modificationDate}}</td>
          <td>{{applicationWorkflow.status}}</td>
          <td>{{applicationWorkflow.comments}}</td>
          <td>{{applicationWorkflow.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
