<title>Emergency Contact</title>
<div class="my-5">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>First name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="Enter first name" required minlength=2>
            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.firstName.invalid && contactFormControls.firstName.touched && contactFormControls.firstName.errors?.required"
            >
                First name is required
            </div>

            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.firstName.invalid && contactFormControls.firstName.touched && contactFormControls.firstName.errors?.minlength"
            >
                First name must be greater than 1 character.
            </div>
        </div>

        <div class="form-group">
            <label>Middle name</label>
            <input type="text" class="form-control" placeholder="Enter middle name" formControlName="middleName">
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Enter last name" required minlength=2>
            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.lastName.invalid && contactFormControls.lastName.touched && contactFormControls.lastName.errors?.required"
            >
                Last name is required
            </div>

            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.lastName.invalid && contactFormControls.lastName.touched && contactFormControls.lastName.errors?.minlength"
            >
                Last name must be greater than 1 character.
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter email">
            <div *ngIf="(contactFormControls.email.invalid && contactFormControls.email.touched) || contactFormControls.email.dirty">
                <small *ngIf="contactFormControls.email.errors?.required" class="alert alert-danger">Email address is required</small>
                <small *ngIf="contactFormControls.email.errors?.pattern" class="alert alert-danger">Please provide a valid email address</small>
              </div>
        </div>

        <div class="form-group">
            <label>Cellphone number</label>
            <input type="text" formControlName="cellPhone" class="form-control" placeholder="Enter cellphone number" required minlength=10>
            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.cellPhone.invalid && contactFormControls.cellPhone.touched && contactFormControls.cellPhone.errors?.required"
            >
                Cellphone number is required
            </div>

            <div 
            class="alert alert-danger"
            *ngIf="contactFormControls.cellPhone.invalid && contactFormControls.cellPhone.touched && contactFormControls.cellPhone.errors?.minlength"
        >
            Please provide a valid cellphone number.
        </div>

        <div class="form-group">
            <label>Relationship</label>
            <input type="text" formControlName="relationship" class="form-control" placeholder="Enter relationship" required minlength=2>
            <div 
                class="alert alert-danger"
                *ngIf="contactFormControls.relationship.invalid && contactFormControls.relationship.touched && contactFormControls.relationship.errors?.required"
            >
                Relationship is required
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-warning" [disabled]="!contactForm.valid">Submit</button>
    </form>
</div>
